.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  /*padding: 10px;*/
}

.home {
	margin-top: 150px;
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400);
body {
  background: url("./images/steelgray.jpg") no-repeat;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
}

.card-body {
  background-image: url("./images/youtubelogo.png");
  position: absolute;
  height: 100vh;
  width: 60%;
  left: 16%;
  background-repeat: no-repeat; 
  background-size: 100%;
}

.card-title {
  color: white;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.profile {
  color: white;
}
